:root {
  --background: #1F2229;
  --background2: #2E303C;
  --background-button: #373945;
  --background-button2: #4B4D59;
  --yellow: #FAE800;
  --gray: #BEC2C6;
  --white: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #FBFBFB;
  background: var(--background);
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;


  &:hover {
    filter: brightness(0.8);
  }
}
