.container-modal {
  padding: 30px;
  background: #fff;
  border-radius: 4px;

  footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: var(--success);
      color: #fff;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      font-weight: bold;
      text-transform: uppercase;
      transition: background 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.table-modal {
  width: 100%;

  thead th {
    color: #999;
    text-align: left;
    padding: 12px;
  }

  tbody {
    display: block;
    height: 45vh;
    overflow: auto;
 
  }

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
  thead {
      width: calc( 100% - 1em ) 
  }

  tbody td {
    padding: 12px;
    border-bottom: 1px solid #eee;
  }

  img {
    height: 100px;
  }

  strong {
    color: #333;
    display: block;
  }

  span {
    display: block;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
  }

  div {
    display: flex;
    align-items: center;

    input {
      border: 1px solid #ddd;
      border-radius: 4px;
      color: #666;
      padding: 6px;
      width: 50px;
    }
  }

  button {
    background: none;
    border: 0;
    padding: 6px;

    svg {
      color: var(--gray);
      transition: color 0.2s;
    }

    &:hover {
      svg {
        opacity: 0.8;
      }
    }

    &:disabled {
      svg {
        opacity: 0.2;
        cursor: not-allowed;
      }
    }
  }
}

.card-total {
  display: flex;
  align-items: baseline;

  span {
    color: var(--gray);
    font-weight: bold;
  }

  strong {
    font-size: 28px;
    margin-left: 5px;
    color: var(--success);
  }
}
